<div class="container">
  <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

    <ng-wizard-step [title]="'Datos generales'" [description]="'Ingrese los datos siguientes:'">
      <div class="container">
        <br><br>
        <form class="mx-auto form-group" [formGroup]="idForm1" (ngSubmit)="saveDataId()">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="name">Nombre</label>
              <div class="input-group">
                <input type="text" id="name" class="form-control" formControlName="name" required>
              </div>
              <div *ngIf="name.errors?.required">
                Ingresa un nombre
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="pLastName">Apellido paterno</label>
              <div class="input-group">
                <input type="text" id="pLastName" class="form-control" required formControlName="pLastName">
              </div>
              <div *ngIf="pLastName.errors?.required">
                Ingresa un apellido paterno
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label for="mLastName">Apellido materno</label>
              <div class="input-group">
                <input type="text" id="mLastName" class="form-control" required formControlName="mLastName">
              </div>
              <div *ngIf="mLastName.errors?.required">
                Ingresa un apellido materno
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="birthdate">Fecha de Nacimiento</label>
              <div class="input-group">
                <input type="date" id="birthdate" class="form-control" required formControlName="birthdate" #date (blur)="validateDate(date)">
              </div>
              <div *ngIf="birthdate.errors?.required">
                Selecciona una nacionalidad
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label for="gender">Género</label>
              <div class="input-group">
                <select [(ngModel)]="genderS"  formControlName="gender" class="form-control" required>
                <option *ngFor="let gender of genders" [ngValue]="gender">
                  {{gender.nombre}}
                </option>
              </select>
              </div>
              <div *ngIf="gender.errors?.required">
                Selecciona un genero
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="nacionality">Nacionalidad</label>
              <div class="input-group">
                <select [(ngModel)]="nacionalityS"  formControlName="nacionality" class="form-control" required>
                  <option *ngFor="let nation of nacionalities" [ngValue]="nation">
                    {{nation.nombre}}
                  </option>
                </select>
              </div>
              <div *ngIf="nacionality.errors?.required">
                Selecciona una nacionalidad
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="footballClub">Club de Fútbol</label>
              <div class="input-group">
                <select [(ngModel)]="club"  formControlName="footballClub" required data-show-content="true" class="form-control">
                  <option *ngFor="let club of clubs" [ngValue]="club">
                    {{club.nombre}}
                  </option>
                </select>
              </div>
              <div *ngIf="footballClub.errors?.required">
                Selecciona un club de fútbol
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="occupation">Ocupación</label>
              <div class="input-group">
                <input type="text" id="occupation" class="form-control" formControlName="occupation" required>
              </div>
              <div *ngIf="occupation?.errors?.required">
                Ingresa una ocupación
              </div>
            </div>
          </div>
          <br>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <div style="display: flex; justify-content: space-around;">
                <button type="submit" class="btn btn-primary">Continuar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-wizard-step>

    <ng-wizard-step [title]="'Datos Personales'" [description]="'Ingrese los datos siguientes:'">
      <div class="container">
        <br><br>
        <form class="mx-auto form-group" [formGroup]="idForm2" (ngSubmit)="savePersonalDataId()">
          <div class="form-row">
            <div class="form-group col-sm-12" *ngIf="showRFC">
              <label for="rfc">RFC</label>
              <div class="input-group">
                <input type="text" id="rfc" class="form-control" formControlName="rfc">
              </div>
              <div *ngIf="rfc.errors?.pattern">
                El RFC no cumple el patron establecido por el SAT.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="street">Calle</label>
              <div class="input-group">
                <input type="text" id="street" class="form-control" formControlName="street">
              </div>
              <div *ngIf="street.errors?.required">
                Ingresa tu calle.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="noExt">Número exterior</label>
              <div class="input-group">
                <input type="text" id="noExt" class="form-control" formControlName="noExt">
              </div>
              <div *ngIf="noExt.errors?.required">
                Ingresa tu número exterior.
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label for="colony">Colonia</label>
              <div class="input-group">
                <input type="text" id="colony" class="form-control" formControlName="colony">
              </div>
              <div *ngIf="colony.errors?.required">
                Ingresa una colonia.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="postalCode">Código postal</label>
              <div class="input-group">
                <input type="text" id="postalCode" class="form-control" formControlName="postalCode">
              </div>
              <div *ngIf="postalCode.errors?.pattern">
                Ingresa tu código postal a 6 dígitos.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <div style="display: flex; justify-content: space-around;">
                <button type="submit" class="btn btn-primary">Genera identificación</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </ng-wizard-step>

    <ng-wizard-step [title]="'Vista previa'" [description]="'Identificación generada'">
      <div class="container id">
        <div class="row">
          <div class="col-sm-4">
            <img src="{{identification.footballClub.logo}}" class="logo">
          </div>
          <div class="col-sm-8">
            <div class="infoId">
              <h3>{{identification.name}} {{identification.pLastName}} {{identification.mLastName}}</h3>
              <h4>ID: {{idRandom}}</h4>
              <h4>Club: {{identification.footballClub.nombre}}</h4>
              <h4>{{identification.nationality.nombre}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-row">
          <div class="form-group col-sm-12">
            <div style="display: flex; justify-content: space-around;">
              <button (click)="guardarInfo()" class="btn btn-primary">Guardar Información</button>
            </div>
          </div>
        </div>
      </div>
    </ng-wizard-step>
  </ng-wizard>
</div>
